# Dependencies
node_modules/

# Build output
.build/
.cache/
.temp/

# Environment variables
.env
.env.local

# Build artifacts
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docusaurus
.temp/
.cache/

# Build directory
build/

# Local Netlify folder
.netlify
